<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<connectionStrings>
		<add name="ConexaoTime" connectionString="server=localhost;database=Time;User ID=sa;Password=Sap@123"
        providerName="System.Data.SqlClient"/>
		<add name="ConexaoJogador" connectionString="server=localhost;database=Jogador;User ID=sa;Password=Sap@123"
        providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>